@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Parisienne&family=Style+Script&display=swap');

@import "tailwindcss";

@theme {
  --text-shadow-zero: 0px 0px 9px oklch(77.7% 0.152 181.912);
  --breakpoint-xs: 10rem;
}


